html,
body {
    font-size: 15px;
}

ul,
li {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    border-top: 1px solid #d6d6d6;
}


/* 滚动条样式 */

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 1px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}


/* 显示滚动条 */

.scroll {
    overflow: auto;
}


/* 隐藏X轴滚动条，显示Y轴 */

.scroll-y {
    overflow: auto;
    overflow-x: hidden;
}



/* 无边框，无圆角样式 */

.no-border,
.no-border input,
.no-border .ivu-select-selection {
    border: none;
    outline: none;
    border-radius: 0;
}

.no-border:focus,
.no-border input:focus,
.no-border .ivu-select-selection:focus {
    box-shadow: none;
}






/* 底部边框样式 */

.underline input {
    border-bottom: 1px solid #ddd;
}

.underline input:hover,
.underline input:focus {
    border-bottom: 1px solid #acccef;
}






/* ivu 样式重置 */

.ivu-layout-sider,
.ivu-menu-light {
    /*background-color: #106cc8;*/
}

.ivu-menu {
    color: #fff;
}

.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: #fff;
    border-right: 0;
    background-color: #267ED5;
    z-index: 2;
}

.ivu-btn,
.ivu-card {
    border-radius: 0;
}

.ivu-layout {
    width: 100%;
    background: transparent;
}

.ivu-table-wrapper {
    width: 100%;
}


/* 加上类 flex 让card自动填充空间 */

.flex {
    display: flex;
    flex: 1;
}

.flex .ivu-col {
    display: flex;
}

.flex .ivu-col .ivu-card,
.ivu-card-body,
.ivu-tabs {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.flex .ivu-tabs-tabpane {
    overflow: auto;
}


/* 自定义样式 */

.from-group {
    margin-bottom: 15px;
}
